body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#info {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 2em;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.4s ease-in;
    overflow: hidden;
}

#info.stop {
    bottom: 2em;
    left: 2em;
    right: 2em;
    top: 2em;
}

#info.line {
    bottom: 1em;
    left: 1em;
    right: 1em;
}

#content {
    color: white;
    font-family: Gotham Rounded,Verdana,Arial,sans-serif;
}

#info.line > #content {
    margin: 1em;
    overflow: hidden;
}

#info.stop > #content {
    position: absolute;
    overflow-y: auto;
    bottom: 2em;
    left: 2em;
    right: 0.5em;
    top: 2em;
}

h1 {
    word-break: break-word;
    margin: 0;
}

.city-select {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.city-select > * {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 2em;
    color: white;
    cursor: pointer;
    font-family: Gotham Rounded,Verdana,Arial,sans-serif;
    font-size: 150%;
    margin: 1em;
    padding: 1em;
    position: relative;
    text-align: center;
}

#loading {
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.4s ease-in;
    visibility: hidden;
}

.loading {
    width: 2em;
    height: 2em;
    margin: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.3em solid;
    border-color: #dddddc #333333 #dddddc #333333;
    background-color: transparent;
    box-shadow: 0px 0px 5px 2px #222;
}

.loading-animation {
    -webkit-animation: rotate 0.5s linear 0s infinite;
       -moz-animation: rotate 0.5s linear 0s infinite;
            animation: rotate 0.5s linear 0s infinite;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(180deg); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(180deg); }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(180deg); }
}

.routes {
    display: table;
    margin: 1em 0;
}
.routes > .route {
    display: table-row;
}
.route > .short-name {
    display: table-cell;
}
.route > .long-name {
    display: table-cell;
    padding-left: 0.5em;
    word-break: break-word;
}

.times {
    display: table;
}
.times > .time-row {
    display: table-row;
}
.time-row > .hours {
    display: table-cell;
    text-align: right;
}
.time-row > .hours::after {
    content: ':';
}
.time-row > .minutes {
    display: table-cell;
    text-align: right;
}
.time-row > .line {
    display: table-cell;
    padding-left: 1em;
    text-align: right;
}
.time-row > .destination {
    display: table-cell;
    padding-left: 0.5em;
    word-break: break-word;
}
